<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
<body>
  <header>
    <%-include('../partials/header.ejs')%>
  </header>
  <div class="mt-2 d-flex justify-content-lg-center">
    <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
      <div class="mb-3">
        <label for="recipeCategory">Choose a Category</label>
        <select name="category" id="recipeCategory" form="categoryForm">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Snack">Snack</option>
          <option value="Dinner">Dinner</option>
        </select>
      </div>
      <div class="mb-1">
        <input class="form-control" type="text" name="title" id="recipeTitle" value="<%=recipe.title%>"><br>
      </div>
      <div class="mb-3">
        <textarea style="width:600px; height:150px;" class="form-control" placeholder="<%=recipe.description%>" name="description" id="recipeDescription" cols="30" rows="10"><%=recipe.description%></textarea><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="url" name="picture" id="recipeImg" value="<%=recipe.picture%>"><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="text" name="ingredients" id="recipeIngredients" placeholder="Ingredients" value="<%=recipe.ingredients%>"><br>
      </div>
      <div class="mb-3">
        <textarea style="width:600px; height:175px;" class="form-control" placeholder="<%=recipe.directions%>" value="<%=recipe.directions%>" name="directions" id="recipeDirections" cols="30" rows="10"><%=recipe.directions%></textarea><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="number" name="prepTime" id="prepTime" value="<%=recipe.prepTime%>"><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="number" name="cookTime" id="cookTime" value="<%=recipe.cookTime%>"><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="number" name="servingSize" id="servingSize" placeholder="Servings" value="<%=recipe.servings%>"><br>
      </div>
      <div class="mb-3">
        <input class="form-control btn btn-secondary" type="submit" value="Edit Recipe" role="button">
      </div>
    </form>
  </div>
  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>
</body>
</html>