<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('../partials/header.ejs')%>
    <section class="banner container-fluid row">
      <div class="row banner-row">
        <div class="col">
         <img class="banner-img"src="/css/img/banner6.jpeg" alt="">
        </div>
        <div class="col d-flex banner-text">
          <h1>Welcome</h1>
          <a class="best-seller" href=""><p>Get Cooking?</p></a>
        </div>
      </div>
      </section>
  </header>
  
  <div class="main container-fluid">
    <h3>A few of the favorites...</h3>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%=recipe[0].picture%>" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5><%=recipe[0].title%></h5>
            <p><%=recipe[0].description%></p>
            <a style="color: white" href="/recipes/<%=recipe[0].id%>"><p>RECIPE</p></a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%=recipe[recipe.length-2].picture%>" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5><%=recipe[recipe.length-2].title%></h5>
            <p><%=recipe[recipe.length-2].description%></p>
            <a style="color: white" href="/recipes/<%=recipe[recipe.length-2].id%>"><p>RECIPE</p></a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%=recipe[recipe.length-1].picture%>" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5><%=recipe[recipe.length-1].title%></h5>
            <p><%=recipe[recipe.length-1].description%></p>
            <a style="color: white" href="/recipes/<%=recipe[recipe.length-1].id%>"><p>RECIPE</p></a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h3>More Recipes... </h3>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 g-4">
        <%for (let i = 0; i < recipe.length; i++){%>
        <div class="col mb-2">
          <div class="card recipe-card">
            <img height="350px" src="<%=recipe[i].picture%>" class="card-img-top p-1" alt="...">
            <div style="color: black" class="card-body">
              <a href="/recipes/<%=recipe[i].id%>">
                <h5 style="text-align: center;" class="card-title"><%=recipe[i].title%></h5></a>
            </div>
            <div class="card-footer">
              <ul style="list-style-type: none" class="card-info d-flex justify-content-between">
                <li><small class="text-muted">Serves: <%=recipe[i].servings%></small></li>
                <li><small class="text-muted">Prep Time: <%=recipe[i].prepTime%></small></li>
                <li><small class="text-muted">Cook Time: <%=recipe[i].cookTime%></small></li>
              </ul>
              
            </div>
          </div>
        </div>
        <%}%>
      </div>
















  </div>
  <footer>
    <div class="footer-options">
      <ul>
        <li><a href="/recipes/new">Make New Recipe</a></li>
        <!-- <li>Suggest an edit</li> -->
      </ul>
    </div>
    <%-include('../partials/footer.ejs')%>
  </footer>
</body>
</html>