<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('../partials/header.ejs')%>
    <div class="banner">
      <div class="banner-img">
        <img src="/css/img/banner7.jpeg" alt="">
      </div>
      <div class="banner-text">
        <h1>welcome</h1>
        <a href=""><h5>Get Cooking?</h5></a>
      </div>




    </div>
  </header>
  
  <div class="main container-fluid">
    <div class="recipe-carousel">
      <div class="fav-container">
        <div class="recipe-1">
          <div class="recipe-img">
            
          </div>
        </div>
        <div class="recipe-2">
          
        </div>
        <!-- <div class="recipe-3">
          
        </div> -->
      </div>





    </div>
    <h3>More Recipes... </h3>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 g-4">
        <%for (let i = 0; i < recipe.length; i++){%>
        <div class="col mb-2">
          <div class="card recipe-card">
            <img height="350px" src="<%=recipe[i].picture%>" class="card-img-top p-1" alt="...">
            <div style="color: black" class="card-body">
              <a href="/recipes/<%=recipe[i].id%>">
                <h5 style="text-align: center;" class="card-title"><%=recipe[i].title%></h5></a>
            </div>
            <div class="card-footer">
              <ul style="list-style-type: none" class="card-info d-flex justify-content-between">
                <li><small class="text-muted">Serves: <%=recipe[i].servings%></small></li>
                <li><small class="text-muted">Prep Time: <%=recipe[i].prepTime%></small></li>
                <li><small class="text-muted">Cook Time: <%=recipe[i].cookTime%></small></li>
              </ul>
              
            </div>
          </div>
        </div>
        <%}%>
      </div>
















  </div>
  <footer>
    <div class="footer-options">
      <ul>
        <li><a href="/recipes/new">Make New Recipe</a></li>
        <!-- <li>Suggest an edit</li> -->
      </ul>
    </div>
    <%-include('../partials/footer.ejs')%>
  </footer>
</body>
</html>