<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('../partials/header.ejs')%>
  </header>
  <div class="container-fluid">
    <div style="text-align: center" class="recipe-title">
      <h3><%=recipe.title%></h3>
    </div>
    <ul style="list-style-type:none" class="text-muted d-flex justify-content-between">
      <li><div class="recipe-category">
        <p><%=recipe.category%> </p>
      </div></li>
      <li><div class="recipe-category">
        <p>Prep Time: <%=recipe.prepTime%></p>
      </div></li>
      <li><div class="recipe-category">
        <p>Cook Time: <%=recipe.cookTime%></p>
      </div></li>
      <li><div class="recipe-category">
        <p>Servings: <%=recipe.servings%></p>
      </div></li>
    </ul>
    <div class="recipe-img">
      <img src="<%=recipe.picture%>" alt="">
    </div>
    <div class="recipe-description">
      <p><%=recipe.description%></p>
    </div>
    <div class="recipe-ingredients">
      <h3>Ingredients: </h3>
      
      <ul>
        <% for (let i = 0; i < recipe.ingredients.length; i++){%>
        <li><%=recipe.ingredients[i]%></li>
        <%}%>
      </ul>
    </div>
    <div class="recipe-directions">
      <h3>Directions: </h3>

      <ol>
        <% for (let i = 0; i < recipe.directions.length; i++){%>
        <li><%=recipe.directions[i]%></li>
        <%}%>
      </ol>
    </div>
    <div class="recipe-timestamp">
      <p><%=recipe.timestamps%></p>
    </div>




    <button type="button" name="button">
      <a href="/recipes/<%=recipe._id%>/edit">Edit</a>
    </button>
    <br>
    <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE"/>
    </form>
  </div>
  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>
</body>
</html>